<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ERP Sandbox Test Suite" parallel="false" preserve-order="true" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.vuatho.reporting.ConsoleTestListener"/>
        <listener class-name="com.vuatho.tests.conditions.LogoutTestsEnabled"/>
        <listener class-name="com.vuatho.core.DriverLifecycleListener"/>
    </listeners>
    <test name="ERP Smoke Tests">
        <classes>
            <class name="com.vuatho.tests.DashboardTestCaseCatalogTest"/>
            <class name="com.vuatho.tests.ErpSmokeTest"/>
            <class name="com.vuatho.tests.ErpLoginTest"/>
            <class name="com.vuatho.tests.DashboardTest"/>
            <class name="com.vuatho.tests.MenuNavigationTest"/>
            <class name="com.vuatho.tests.FilterBehaviorTest"/>
            <class name="com.vuatho.tests.FeatureDiscoveryTest"/>
            <class name="com.vuatho.tests.DeepFeatureDiscoveryTest"/>
            <class name="com.vuatho.tests.FilterDiscoveryTest"/>
            <class name="com.vuatho.tests.ReadOnlyFeatureTest"/>
            <class name="com.vuatho.tests.DeepReadOnlyFeatureTest"/>
        </classes>
    </test>
</suite>
